################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayrollAutomation/.vs/PayrollAutomation
/PayrollAutomation/PayrollAutomation/bin/Debug/net8.0-windows
/PayrollAutomation/PayrollAutomation/obj
