################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayrollAutomation/.vs/PayrollAutomation
/PayrollAutomation/PayrollAutomation/bin/Debug/net8.0-windows
/PayrollAutomation/PayrollAutomation/obj
/PayrollAutomation/.vs/ProjectEvaluation
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/cs
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/de
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/es
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/fr
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/it
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/ja
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/ko
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/pl
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/pt-BR
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/ru
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/tr
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/zh-Hans
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64/zh-Hant
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/win-x64
/PayrollAutomation/PayrollAutomation/Properties/PublishProfiles/FolderProfile.pubxml
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/PayrollAutomation.dll
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/PayrollAutomation.exe
/PayrollAutomation/PayrollAutomation/bin/Release/net8.0-windows/PayrollAutomation.pdb
/PayrollAutomation/PayrollAutomation/Properties/PublishProfiles/FolderProfile.pubxml.user
/PayrollAutomation/PayrollAutomation/PayrollAutomation.csproj.user
